*{
    padding: 0;
    margin: 0;
}
body{
    font-family: 'Lato', sans-serif;
    font-size: 14px;
    line-height: 24px;
}
h1,h2,h3,h4,h5,h6{
    font-family: 'Source Sans Pro', sans-serif
}
a, a:hover{
    text-decoration: none;
}
.title{
    width: 100%;
    text-align: center;
    margin-bottom: 40px;
}
.title h2{
    font-weight: 700;
    font-size: 25px;
    color: #506a85;
}
.title p{
    width: 53%;
    margin: 0 auto;
    font-size: 16px;
    line-height: 26px;
    color: #8498ac;
}


/* top- Header section code start */
.header{
    width: 100%;
}
.top-header{
    width: 100%;
    padding: 05px 0px;
    background: #f5f7fa;
}
.info-details {
    width: 100%;
}
.info-details ul{
    width: 100%;
    display: block;
    margin: 0px;
    padding: 0px;
}
.info-details ul li{
    list-style: none;
    display: inline-block;
}
.info-details ul li a{
    font-size: 14px;
    font-weight: 700;
    color: #506a85;
    margin-right: 10px;
}
.info-details ul li a .fa{
    margin-right: 5px;
}
.social-icons{
    width: 100%;

}
.social-icons ul{
    width: 100%;
    display: block;
    margin: 0px;
    text-align: right;
    padding: 0px;
}
.social-icons ul li{
    list-style: none;
    display: inline-block;
}
.social-icons ul li a{
    font-size: 14px;
    font-weight: 400;
    color: #506a85;
    margin-left: 10px;
    transition: 1s;
}
.social-icons ul li a:hover{
    color: #00bc9c;
    cursor: pointer;
}
/* top- Header section code end */

/* main-menu section Start */

.main-menu{
    width: 100%;
}

.main-menu .bg-light{
    background-color: transparent !important;
}

.main-menu .navbar-light .navbar-nav .nav-link.active, .navbar-light .navbar-nav .show>.nav-link{
    color: #00bc9c;
}
/* main-menu section end*/
.main-menu .navbar-light .navbar-nav .nav-link{
    color: #506a85;
    font-size: 14px;
    font-weight: 600;
    text-transform: uppercase;
    margin: 0px 15px;
}
.main-menu  .navbar-light .navbar-nav .nav-link:hover,.main-menu  .navbar-light .navbar-nav .nav-link:focus{

    color: #00bc9c
}
.main-menu .fa-search{
    color: #506a85;
    font-size: 14px;
    font-weight: 600;
}
.slider{
    width: 100%; 
}
.slider .carousel-caption{
    bottom: 32%;
}
.slider .carousel-caption h2{
    font-weight: 700;
    font-size: 52px;
    text-transform: uppercase;

}
.slider .carousel-caption p{
    font-size: 16px;
    line-height: 26px;
    color: #8498ac;

}
.slider .carousel-caption .btn-info{
    padding: 12px 30px;
    margin: 30px 0px 0px;
    font-size: 14px;
    text-transform: uppercase;
    font-weight: 700;
    color: white;
    border: 1px solid #00bc9c;
    border-radius: 3px;
    background: #00bc9c;
    transition: 1s;
}
.slider .carousel-caption .btn-info:hover, .slider .carousel-caption .btn-info:focus{
    color: white;
    border: 1px solid #00bc9c;
    background: transparent;
}
.Who-we{
    width: 100%;
    padding: 80px 0px;
}
.Who-we .card{
    border: none;
}
.Who-we .card img{
    margin-top: 15px;
}
.Who-we .card .card-body{
    padding: 1rem 25px;
}
.Who-we .card .card-body .card-title{
    margin-bottom: 10px ;
    font-size: 22px;
    font-weight: 600;
    color: #506a85;
}
.Who-we .card .card-body .card-text{
    font-size: 14px;
    line-height: 24px;
    color: #8498ac;
}
.latest-work{
    width: 100%;
    padding: 80px 0px;
    background: #f2f5f7;
}
.latest-work .card{
    margin-top: 30px;
    text-align: center;
} 
.latest-work .card .card-title{
    margin-bottom: 3px ;
    font-size: 18px;
    font-weight: 600;
    color: #506a85;
}
.latest-work .card .card-text{
    font-size: 14px;
    line-height: 24px;
    color: #8498ac;
    margin-bottom: 0px;
}